*,
*:before,
*:after{
    box-sizing: border-box;
}

html,
.body{
    min-height: 100vh;
}

.body{
    display: flex;
    flex-direction: column;
}

.page{
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-between;
}

.header{
    align-items: center;
    background-color: #D3B714;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
}

.logo img{
    max-width: 140px;
    padding: 20px 0;
}

.menu-list{
    display: flex;
}

.menu-item{
    list-style-type: none;
    padding: 0 5px;
}

.menu-item-link{
    color: #000;
    text-decoration: none;
}

.footer{
    background-color: #86EC86;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
}

.product-list{
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.main-content{
    max-width: 992px;
    min-width: 334px;
}

.main-content p,
.main-content h1{
    text-align: center;
}

.main-content h1{
    text-transform: uppercase;
}

.sidebar{
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    flex-basis: 210px;
}

.left-sidebar{
    background-color: #C798B9;
    order: -1;
}

.left-sidebar-link{
    color: #000;
    text-decoration: none;
}

.right-sidebar{
    background-color: #9CB1C7;
    order: 1;
}

.right-sidebar-link{
    color: #000;
    text-decoration: none;
}

.product{
    border: 2px solid #000;
    border-radius: 10%;
    width: 25%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing:content-box;
    margin: 10px;
    box-shadow: none;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.product:hover{
    background-color: #588ae7;
    box-shadow: 7px 5px 10px rgb(50, 54, 71);
}

.circle{
    border: 10px solid #C7B7B7;
    border-radius: 50%;
    width: 55px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:content-box;
    flex-shrink: 0;
}

.circle img{
    width: inherit;
    transform: rotateZ(0deg);
    transition: transform 0.5s ease;
}

.product:hover .circle img{
    transform: rotateZ(360deg);
}

.go-button{
    border-radius: 50px;
    background-color: #685174;
    width: 50px;
    color: #fff;
    outline: none;
}

.preview{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.preview h4,
.preview p{
    margin: 10px 0;
    text-align: center;
    overflow: hidden;
}

.preview h4{
    height: 1em;
}

.preview p{
    height: 8em;
}

.holder{
    margin: 20px;
    border: 2px solid #000;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.holder .item{
    flex-shrink: 0;
    padding: 10px 0;
    text-align: center;
}
.holder .item:nth-child(1),
.holder .item:nth-child(5){
    flex-grow: 2;
    flex-basis: 50%;
}

.holder .item:nth-child(2),
.holder .item:nth-child(3),
.holder .item:nth-child(4){
    flex-grow: 1;
}

.holder .item:nth-child(1){
    background-color:#FD644D;
    order: 1;
}

.holder .item:nth-child(2){
    background-color:#4983B2;
    order: 4;
}

.holder .item:nth-child(3){
    background-color:#663797;
    order: 3;
}

.holder .item:nth-child(4){
    background-color:#0E7F12;
    order: 5;
}

.holder .item:nth-child(5){
    background-color:#FDA429;
    order: 2;
}